/* 
    Created on : Sep 15, 2015, 9:45:16 PM
    Author     : Gemtastic
*/

#paperIMG {
    width:100%;
    position: absolute;
    bottom: 0;
    left:0;
    z-index: 0;
}

#logoIMG {
    width:80%;
    position: absolute;
    bottom: 0.2em;
    left:10%;
    z-index: 10;
}

#logo {
    position: relative;
    display: inline-block;
    width: 15em;
    height: 10em;
}

#userhome {
    display: inline-block;
    float: right;
}

#messageWrapper {
    display: inline-block;
    position: relative;
    height: 10em;
    width: 12em;
}

#message {
    position: absolute;
    bottom: 0;
    border: 0.2em solid #333333;
    border-bottom: 0 hidden #999999;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    padding: 0.7em;
}